body {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#b9a682b3),
      to(#a69c7dbb)
    ),
    url("bg.jpg") top/cover no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.card {
  background: #f5dfd0;
  /* color: white; */
  box-shadow: 0px 10px 10px 5px rgba(144, 93, 93, 0.6);
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  padding: 40px 50px;
  align-items: center;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lock-icon {
  font-size: 4rem;
  margin-top: -20px;
}

p {
  font-size: 19px;
  color: black;
  margin-top: -40px;
}
.fp {
  margin-top: 10px;
  margin-bottom: -10px;
}
.fp a {
  text-decoration: none;
  font-size: 0.9rem;
  /* word-spacing: px; */
}
.passInput {
  margin-top: 5px;
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 2px solid deepskyblue;
  font-size: 15px;
  color: white;
  outline: none;
}

button {
  margin-top: 20px;
  width: 80%;
  background-color: #8a6e5b;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 0px 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #eb8888;
  transform: scale(1.1);
}

ul input {
  margin-left: 10px;
}

@media (max-width: 700px) {
  .lock-icon {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    text-transform: uppercase;
    color: black;
  }

  p {
    font-size: 12px;
    color: black;
  }
  .card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #aed4dd;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    margin-top: -100px;
  }
}
