* {
  border: 1px solid rgba(0, 0, 0, 0);
  /* border: 1px solid; */
}

body {
  /* background: #04323a; */
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#b9a682b3),
      to(#a69c7dbb)
    ),
    url("bg.jpg") top/cover no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  /* animation: fade-in 1s ease-in-out; */
}

.card {
  /* animation: fade-in 1s ease-in-out 0.5s; */
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  background: #704f4f;
  /* background-size: 100vw;
  background-position: center; */
  display: block;
  height: auto;
  width: 450px;
  border: 2px solid #704f4f;
  box-shadow: 0px 10px 10px 5px rgba(144, 93, 93, 0.6);
  position: fixed;
  border-radius: 10px 100px 10px 10px;
  /* z-index: 1; */
}

.card .profilepic {
  width: 150px;
  height: 150px;
  /* background: url("https://puu.sh/qTLpR/e5d6192075.jpg"); */
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  background-position: center;
  border-radius: 100%;
  overflow: hidden;
  padding: 10px;
  z-index: 2;
  border: 1px solid black;
}

.card .profilepic:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background: #3d7eaa; */
  background: -webkit-linear-gradient(to left, #3d7eaa, #ffe47a);
  background: linear-gradient(to left, #3d7eaa, #ffe47a);
  opacity: 0.5;
  filter: saturate(1);
}

.card .profilepic:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.card .profilepic .slothface {
  width: 100px;
  height: 100px;
  position: relative;
  /* background-image: url("https://puu.sh/qTQTO/6be32caab6.svg"); */
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
.card h1 {
  font-family: sans-serif;
  display: block;
  text-align: center;
  position: absolute;
  /* bottom: 10px; */
  width: 100%;
  /* color: #062025; */
  font-family: "Josefin Slab", serif;
  font-size: 2.1em;
  color: rgb(229, 218, 218);
}

/*********camera**********/
.camera-icon {
  position: absolute;
  top: 245px;
  left: 139px;
  padding: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/**********************************/

.userInfo {
  margin-top: 300px;
  text-align: center;
}
.infos a {
  text-decoration: none;
  cursor: pointer;
  color: orange;
  font-size: 0.9rem;
}
.infos {
  margin-bottom: 10px;
  color: rgb(229, 218, 218);
  font-weight: 600;
}
.card .welcome {
  color: rgb(229, 218, 218);
  position: relative;
  top: 30px;
  left: 170px;
  font-size: 1.5rem;
  bottom: 5px;
}
.last {
  color: rgb(220, 213, 136);
  cursor: pointer;
  margin-left: 10px;
}
span a {
  text-decoration: none;
  color: rgb(220, 213, 136);
  cursor: pointer;
}
.card .socials {
  animation: fade-in 1s ease-in-out 0.9s;

  position: absolute;
  width: 100%;
  /* bottom: -20px; */
  top: -30px;
  left: 35px;
}

.card .socials .i {
  position: relative;
  font-weight: 600;
  font-size: 1em;
  display: block;
  width: 20%;
  float: left;
  text-align: center;
  color: rgb(75, 15, 15);
  font-family: Helvetica;
}

.card .socials .i:hover {
  /* color: #def4f8;   */
  transform: rotate(-10deg);
}

/**********************section TODO**********************************************/

#todolist {
  height: 430px;
  /* animation: fade-in 1s ease-in-out 0.3s; */
  position: relative;
  margin: auto;
  padding: 2rem 3rem 3rem;
  width: 720px;
  background: #ceab93;
  color: white;
  box-shadow: 0px 10px 10px 5px rgba(144, 93, 93, 0.6);
  /* margin-left: 600px; */
  margin-right: 1.5%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid;
}
#todolist h1 {
  /*text-align:center;*/
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(168, 87, 36);
  margin-top: -15px;
}
#todolist h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 10px;
  color: rgb(58, 54, 54);
}

#todolist .emptylist {
  margin-top: 6.6rem;
  margin-bottom: 7rem;
  text-align: center;
  letter-spacing: 0.05em;
  font-style: italic;
  opacity: 0.8;
}

/* FORM */
.form {
  position: relative;
  margin-top: 10px;
  /* margin-bottom: -100px; */

  /* position: fixed; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.form input {
  flex-grow: 1;
  border: none;
  background: #8a6e5b;
  padding: 0 1.5em;
  width: 90%;
  color: white;
}

.form .date input {
  flex-grow: 1;
  border: none;
  background: #8a6e5b;
  padding: 0 1.5em;
  width: 25%;
  margin-top: 10px;
  border-radius: 10px;
}

input[type="text"]::placeholder {
  color: white;
}
input[type="date"]::placeholder {
  color: white;
}

.form button {
  padding: 0 1.3rem;
  border: none;
  background: #8a6e5b;
  color: rgb(239, 232, 158);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 25px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  /* transition: background 0.2s ease-out; */
  animation: loadButton 1s ease-in-out 0.5s;
}
.form button:hover {
  background: #745947;
}
.form input,
.form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}




#myTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: -1.2rem;
  /* border-radius: 10px; */
  /* margin-bottom: 20px; */
}

#myTable th,
#myTable td {
  padding: 8px;
  border: 1px solid #927759;
}

#myTable th {
  background-color:  #927759;
}

#myTable tr:nth-child(even) {
  background-color:  #927759;
}

#myTable tr:nth-child(odd) {
  background-color: #927759;
}

#myTable tbody {
  display: block;
  max-height: 250px;
  overflow-y: scroll;
}

#myTable thead,
#myTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#myTable tbody tr {
  box-sizing: border-box;
}

.change{
  text-decoration: none;
  color: rgb(220, 213, 136);
  cursor: pointer;
  margin-left: 180px;
}